body, p, h1, h2, ul, ol{
  margin: 0px;
  padding: 0px;
}
.clearfix{
    clear: both;
}
body{
  font-family: Arial;
}
.min{
  min-width: 840px;
}
.center{
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.block{
  margin-bottom: 30px;
}
h2{
  text-align: center;
  font-size: 27px;
  margin-bottom: 10px;
}
p, li{
  text-align: justify;
  font-size: 16px;
  margin-bottom: 10px;
}
li{list-style-position: inside;}



#wrapper {
   
}
#header {
    background: #008040;
  padding: 5px;/* РћС‚РјРµРЅР° СЃС…Р»РѕРїС‹РІР°РЅРёСЏ */
  color: white;
}
  #header h1{
    font-size: 35px;
    margin-bottom: 7px;
    text-align: center;
  }
  #header p{
    font-size: 21px;
    margin-bottom: 5px;
    text-align: center;
  }

#price {
  
}
  /* РҐРёС‚СЂС‹Р№ СЃРїРѕСЃРѕР± СЃРґРµР»Р°С‚СЊ С†РёС„СЂС‹ РЅСѓР¶РЅРѕРіРѕ С†РІРµС‚Р° */
  #price ol{
    color: red;
    font-weight: bold;
  }
  #price li span{
    color: black;
    font-weight: normal;
  }
  /*-*/

  
  
#contacts {
    background-color: #C60304;
    color: white;
  padding: 10px;
}
#contacts p{
  text-align: center;
}


#company{

}


#clients{
  background: #FF8040;
  padding: 20px;
  color: white;
}
#clients img{
  outline: 1px solid black;
  float: left;
  margin-right: 0.6666%;
  width: 24.5%;
}
#clients p{
  margin-bottom: 0.6666%;/* % Р±РµСЂРµС‚СЃСЏ РѕС‚ С€РёСЂРёРЅ СЂРѕРґРёС‚РµР»СЏ !*/
}
#clients img.last{
  margin-right: 0px;
}


#footer{
  background: #912F00;
  padding: 200px 0px 5px 0px;
  color: white;
  text-align: center;
  font-size: 13px;
}